*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-details-container{
  background-color: #444;
  margin: 15px 0;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  color: #eee;
  border-radius: 8px;
}

.task-details-container h2{
  color: chartreuse;
  margin-bottom: 5px;
}

.back-button-container{
  width: 30%;
  margin-top: 15px;
}